@CHARSET "ISO-8859-1";

h1 {
	color: grey;
	font-family: calibri;
}

p {
	color: blueViolet;
	font-family: VeggieburgerRegular
}

@font-face {
	font-family: 'VeggieburgerRegular';
	src: url('010-VeggiMed-webfont.ttf');
	font-weight: normal;
	font-style: normal;
}