.msgcolor{color:red}
#table1
{
background-color: papayawhip;
    font-family: sans-serif;
	font-size: small;
	color: sienna;
}
#head1
{
font-size: large;
    font-family: serif;
    font-weight: 600;
}