<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JspBasicProject</display-name>
  <welcome-file-list>   
    <welcome-file>Html/Home.html</welcome-file>
  </welcome-file-list>
  
   <jsp-config>
   		<jsp-property-group>
   			<url-pattern>/*</url-pattern>
   			<include-prelude>/parts/Header.html</include-prelude>
   			<include-coda>/parts/Footer.jsp</include-coda>
   		</jsp-property-group>  
   		<jsp-property-group>
   			<url-pattern>/others/checkEL.jsp</url-pattern>
   			<el-ignored>false</el-ignored>   		
   		</jsp-property-group>
   		
   		<jsp-property-group>
   			<url-pattern>/others/checkScripting.jsp</url-pattern>
   			<scripting-invalid>false</scripting-invalid>
   		</jsp-property-group>
  </jsp-config>
  
  
</web-app>