<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MyMptWebP</display-name>
	<welcome-file-list>
		<welcome-file>html/home.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ProcessUser</servlet-name>
		<servlet-class>com.igate.controller.ProcessUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessUser</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LoggingFilter</filter-name>
		<filter-class>com.igate.filter.LoggingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>CompnameFilter</display-name>
		<filter-name>CompnameFilter</filter-name>
		<filter-class>com.igate.filter.CompnameFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CompnameFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

 <security-constraint>
		<web-resource-collection>
			<web-resource-name>Sensitive</web-resource-name>
			<url-pattern>/jsps/Register.jsp</url-pattern> 
	<!-- 	<url-pattern>/*</url-pattern> -->
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		
		
		 <auth-constraint>
			<role-name>admin_user</role-name>
		</auth-constraint>
		
		   <user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
		
	</security-constraint>

	<!--	All security roles that will be used anywhere within this app. -->
	<security-role>
		<role-name>admin_user</role-name>
	</security-role>
	<!-- Tell the server to use BASIC authentication. -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Very Sensitive Application</realm-name>
	</login-config>


</web-app>