<?xml version="1.0" encoding="UTF-8"?>
   
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	

	<!-- Connection Pool -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE" />
		<property name="username" value="system" />
		<property name="password" value="root" />
	</bean>


	<!-- JPA EntityManagerFactory configure container manged JPA--> 
	<!-- <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
			p:dataSource-ref="dataSource">
		<property name="jpaVendorAdapter">			
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true"/>			        
        	</bean>
        </property>		
		<property name="jpaProperties">
         <props>
       		 <prop key="hibernate.hbm2ddl.auto">create</prop>
          	 <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
         </props>
      </property> 		
	</bean>-->
	
	
	      <bean id="entityManagerFactory"
       class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
               <property name="persistenceUnitName" value="ContactPU"/>
</bean>
	

	<!-- Transaction manager for a single JPA EntityManagerFactory (alternative to JTA) -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
			p:entityManagerFactory-ref="entityManagerFactory"/>
			
	<!-- Activates various annotations to be detected in bean classes for eg @Autowired-->
	<context:annotation-config/>
	
	  <!-- enable the configuration of transactional behavior based on annotations  -->
	  <tx:annotation-driven transaction-manager="transactionManager"/>

	<!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>  -->
    
    
    <context:component-scan base-package="com.test.dao"/>
        
    <bean id="contactService" class="com.test.service.ContactServiceImpl"/>
	  
</beans>